<!DOCTYPE html>
<html>
    <head>
        <title>TokenBar</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
         <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
         <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
            <div class="container"><a href="/" class="navbar-brand">TokenBar</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <%if(!currentUser){%>
                            <li role="presentation" class="nav-item"><a href="/assets" class="nav-link active" >Explore</a></li>
                            <li role="presentation" class="nav-item"><a href="/about" class="nav-link active">About</a></li>
                            <li role="presentation" class="nav-item"><a href="/users/login" class="nav-link active">Login</a></li>
                            <li role="presentation" class="nav-item"><a href="/users/register" class="nav-link active">Register</a></li>
                        <%} else {%>
                            <li role="presentation" class="nav-item"><a href="/assets" class="nav-link active" >Explore</a></li>
                            <li role="presentation" class="nav-item"><a href="/about" class="nav-link active">About</a></li>
                            <%if(currentUser.username=='fabrice'){%>
                            <li role="presentation" class="nav-item"><a href="/assets/new" class="nav-link active">Create</a></li>
                            <%}%>
                            <!-- <li role="presentation" class="nav-item"><a href="/users/myassets" class="nav-link active">My Assets</a></li> -->
                            <li role="presentation" class="nav-item"><a href="/users/portfolio" class="nav-link active">Portfolio</a></li>
                            <li role="presentation" class="nav-item"><a href="/users" class="nav-link active"><%=currentUser.username%></a></li>
                            <li role="presentation" class="nav-item"><a href="/users/logout" class="nav-link active">Logout</a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </nav>
