<!DOCTYPE html>
<html>
    <head>
        <title>TokenBar</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
         <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
         <link rel="stylesheet" href="/assets/css/featurebanner.css">
         <link rel="stylesheet" href="/assets/css/Footer-Basics.css">
         <link rel="stylesheet" href="/assets/css/styles.css">
         <link rel="stylesheet" href="/assets/css/Projects-Clean.css">
    </head>
    <body>
        <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark">
            <div class="container"><a href="/" class="navbar-brand">TokenBar</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li role="presentation" class="nav-item"><a href="/assets" class="nav-link">Browse</a></li>
                        <li role="presentation" class="nav-item"><a href="/assets/new" class="nav-link active">Tokenize</a></li>
                    </ul>
                </div>
            </div>
        </nav>
