<% include partials/header %>

    <div class="main">

        <div id="about-container" class="container">
            <section id="question-section">
                <div class="container" id="question-container">
                    <h2 id="question-heading">Project Vision</h2>
                    <hr />
                    <p style="text-align: left;">
                        The emergence of the blockchain technology has given rise to many use cases which have gret potential to revolutionise many
                        industries. One of the most lucrative and appealing uses cases is the ability of to tokenize real
                        world assets and make them available to people to extract more economic value than before. The goal
                        of this project is to this through the cration of an virtual e-commerce site that mimics the future
                        potential that this technology will will offer once it has reached maturity. The goal of this project
                        is to expose more poeple to the potential of blockchain by giving them a real use case platform which
                        allow them to buy and trade tokenized assets.
                    </p>
                </div>
                <div class="container" id="question-container">
                    <h2 id="question-heading">Project Team</h2>
                    <hr />
                    <p style="text-align: left;">
                        The current team is made of various blockchain enthuisiasts who are passionate the blockchain and about pushing towards more
                        adoption through creation of practical use cases for blockchain.
                    </p>
                </div>

                <div class="container" id="question-container">
                    <h2 id="question-heading">Blockchain Development approach</h2>
                    <hr />
                    <p style="text-align: left;">
                        The goal of the project to be as open as possible and not be fixated on a specific blockchain. Thus the aim is to build upon
                        all major blockchains as this also provides a great learning opportunity for project members to get
                        development exposure on each platform.
                    </p>
                </div>
            </section>
        </div>


        <% include partials/footer %>