<% include partials/header %>
<section id="question-section">
    <div class="main">

        <div id="about-container" class="container">
           
                <div class="container" id="question-container">
                    <h2 id="question-heading">Project Vision</h2>
                    <hr />
                    <p style="text-align: left;">
                        The emergence of the blockchain technology has given rise to many use cases which have great potential to revolutionise many
                        industries. One of the most lucrative and appealing uses cases is the ability to tokenize real
                        world assets and make them available to people to extract more economic value than before. The goal
                        of this project is to illustrate this potential through the creation of virtual e-commerce site that mimics the future
                        potential that this technology will offer once it has reached maturity. The ultimate aim of this site
                        is to expose more poeple to the potential of blockchain by giving them a real use case platform which
                        allows them to buy and trade tokenized assets.
                    </p>
                </div>
                <div class="container" id="question-container">
                    <h2 id="question-heading">Project Team</h2>
                    <hr />
                    <p style="text-align: left;">
                        The current team is made of various blockchain enthuisiasts who are passionate about the technology, more so about pushing towards more
                        adoption in the space through the creation of practical use cases for blockchain. To view all current project members visit the github page:
                    </p>
                    <p><a target="_blank" href="https://github.com/dintlo/tokenbar"><i class="fab fa-github-square fa-3x"></i></a></p>
                </div>

                <div class="container" id="question-container">
                    <h2 id="question-heading">Blockchain Approach</h2>
                    <hr />
                    <p style="text-align: left;">
                        Due to the fast changing blockchain protocol landscape, the goal of the project to be as open as possible and not be fixated
                        on a specific blockchain. Thus the aim is to build upon all major blockchains. This also provides
                        a great learning opportunity for project members to get development exposure on each platform. So
                        far the current consensus in the team is to focus on the following major platforms:

                    </p>
                    <div class="row" style="padding:15px;" id="blockchains">
                        <div class="col-12 col-md-4">
                            <img src="/assets/img/ethereum.png" class="img-fluid" />
                        </div>
                        <div class="col-12 col-md-4">
                            <img src="/assets/img/eos.jpg" class="img-fluid">
                        </div> 
                        <div class="col-12 col-md-4">
                            <img src="/assets/img/neo.png" class="img-fluid">
                        </div> 
                    </div>
                    
                </div>
           
        </div>
        <div style="padding:25px;">
               
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center">
                            <h2 class="section-heading">Want to contribute to the project?</h2>
                            <hr class="my-4" />
                            <p class="mb-5">Let&#39;s Get In Touch! Give us a call or send us an email
                                and we will get back to you as soon as possible!</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 mr-auto text-center"><i class="fas fa-envelope fa-3x"></i>
                            <p><a href="mailto:your-email@your-domain.com">beyafabrice@gmail.com</a></p>
                        </div>
                        <div class="col-lg-6 mr-auto text-center"><i class="fab fa-github-square fa-3x"></i>
                            <p><a href="https://github.com/dintlo/tokenbar">Visit our github page</a></p>
                        </div>
                        
                    </div>
                </div>
            </div>
    </div>
</section>
    <% include partials/footer %>