<% include partials/header %>
<div class="main">
    <section id="question-section">
        <div class="container" id="question-container">
            <h2 id="question-heading">What is an Asset Token?</h2>
            <hr />
            <p>An Asset token is a digital value created on the blockchain to represent the value of a real world asset. Ownershp of this token gives enables access to certain utility and security rights associated to the asset.</p>
        </div>
    </section>
    <section id="question-section">
        <div class="container" id="question-container">
            <h2 id="question-heading">How do you purchase an Asset Token?</h2>
            <hr />
            <p>Once you find an Asseet that you like, you will be presented a breakdown of the Asset Metrics. This will highlight the price of an individual Asset
                Token, along with how many are avaiable. Upon selecting the purchase option you will be taken to the transation page where you can specifiy how many
                of the asset tokens you want along with the associated price.
            </p>
        </div>
    </section>
    <section id="question-section">
        <div class="container" id="question-container">
            <h2 id="question-heading">How do i know if an Asset is real and not fake?</h2>
            <hr />
            <p>
                Every asset listed on TokenBar undergoes strict valuation and verification checks before being listed. Furthermore each asset Owner
                has to produce frequent verification and valudation reports regarding their asset in order for their asset to remain listed.
            </p>
        </div>
    </section>
    <section id="question-section">
            <div class="container" id="question-container">
                <h2 id="question-heading">How do i list an a new Asset?</h2>
                <hr />
                <p>
                   In order to list a new asset on Tokenbar you will need to submit a proposal where you detail as much information about the asset.
                   Following this our team will review and get back to you to initiate the tokenization process. This process will involved a 
                   verification and valudation of your asset. Once this is done your asset will be tokenized on the blockchain and made available for 
                   users to buy.
                </p>
            </div>
        </section>
</div>


<% include partials/footer %>