<% include partials/header %>
<div id="about-container" class="container">
    <section id="question-section">
        <div class="container" id="question-container">
            <h2 id="question-heading">What is Asset Tokenization?</h2>
            <hr />
            <p>An Asset token is a digital value created on the blockchain to represent the value of a real world asset. Ownershp of this token gives enables access to certain utility and security rights associated to the asset.</p>
        </div>
    </section>
    <section id="question-section">
        <div class="container" id="question-container">
            <h2 id="question-heading">How do you track an assets real world value?</h2>
            <hr />
            <p>An Asset token is a digital value created on the blockchain to represent the value of a real world asset. Ownershp of this token gives enables access to certain utility and security rights associated to the asset.</p>
        </div>
    </section>
</div>


<% include partials/footer %>