<h1>This is the assets page.</h1>
<a href="/assets/new">Add a new asset</a>
<% assets.forEach(function(asset){ %>
    <div>
        <h4><%= asset.name %></h4>
        <img src="<%= asset.image %>">
    </div> 
<% }); %>