<!DOCTYPE html>
<html>
    <head>
        <title>TokenBar</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
         <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
         <link rel="stylesheet" href="/assets/css/featurebanner.css">
         <link rel="stylesheet" href="/assets/css/Footer-Basics.css">
         <link rel="stylesheet" href="/assets/css/styles.css">
         <link rel="stylesheet" href="/assets/css/Projects-Clean.css">
    </head>
    <body>
        <nav id="main-nav" style="background-color: transparent;" class="navbar navbar-dark navbar-expand-md fixed-top ">
            <div class="container"><a href="/" class="navbar-brand">TokenBar</a><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li role="presentation" class="nav-item"><a href="/assets" class="nav-link active" >Browse</a></li>
                        <li role="presentation" class="nav-item"><a href="/assets/new" class="nav-link active">Tokenize</a></li>
                        <%if(!currentUser){%>
                            <li role="presentation" class="nav-item"><a href="/login" class="nav-link active">Login</a></li>
                            <li role="presentation" class="nav-item"><a href="/register" class="nav-link active">Register</a></li>
                        <%} else {%>
                            <li role="presentation" class="nav-item"><a href="#" class="nav-link active">Logged in as <%=currentUser.username%></a></li>
                            <li role="presentation" class="nav-item"><a href="/logout" class="nav-link active">Logout</a></li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </nav>

<header class="masthead text-center text-white" style="background-image: url('/assets/img/header5.jpg');">
    <div class="masthead-content">
        <div class="container">
            <h1>TokenBar</h1>
            <h4>An E-Commerce platform for tokenized assets on the blockchain</h4>
            <a href="/about" class="btn btn-light btn-md">Learn More</a>
        </div>
    </div>
</header>

<section id="question-section">
    <div class="container" id="question-container">
        <h2 id="question-heading">Welcome to TokenBar</h2>
        <hr />
        <p>
            Asset Tokenization is the new digital revolution that has taken storm. Due to advancements in the Blockchain Decentralized Ledger Technology we are now 
            able to create and transfer digital value in a secure and trustless manner. This new exciting features has given rise to new economies of value upon which
            new sharing economies can be established.
        </p>
        <p>
            TokenBar is an online platform that allows users to shop of tokenized assets.
        </p>
    </div>
</section>
<% include partials/footer %>