<% include partials/header %>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1>Welcome to TokenBar</h1>
            <h4>An E-Commerce platform for tokenized assets on the blockchain</h4><button class="btn btn-light btn-lg" type="button">Learn More</button>
        </div>
    </div>
</header>

<section id="question-section">
    <div class="container" id="question-container">
        <h2 id="question-heading">Welcome to TokenBar</h2>
        <hr />
        <p>An Asset token is a digital value created on the blockchain to represent the value of a real world asset. Ownershp of this token gives enables access to certain utility and security rights associated to the asset.</p>
    </div>
</section>
<% include partials/footer %>