<% include ../partials/header %>

<div  id="form-container" class="container">
        <h1 style="margin:25px;">Create new asset</h1>
    
        <div class="col-12 col-md-6" style="margin:auto; text-align: left;" >
            <form action="/assets" method="post">
                <div class="form-group">
                    <label for="name">Asset Name</label>
                    <input id="name" class="form-control" type="text" name="name" placeholder="Asset Name">
                </div>
                <div class="form-group">
                    <label for="type">Asset Type</label>
                    <input class="form-control" id="type" type="text" name="type" placeholder="Asset Type">
                </div>
                <div class="form-group">
                    <label for="location">Country</label>
                    <input class="form-control" id="location" type="text" name="location" placeholder="Asset Location">
                </div>
                <div class="form-group">
                    <label for="token">Token Name</label>
                    <input class="form-control" id="token" type="text" name="token" placeholder="Asset token name">
                </div>
                <div class="form-group">
                    <label for="tokanCap">Token Cap</label>
                    <input class="form-control" id="tokanCap" type="text" name="tokenCap" placeholder="Asset tokan Cap">
                </div>
                <div class="form-group">
                    <label for="tokenPrice">Token Price</label>
                    <input class="form-control" id="tokenPrice" type="text" name="tokenPrice" placeholder="Asset token price">
                </div>
                <div class="form-group">
                    <label for="description">Asset Description</label>
                    <textarea rows="5" class="form-control" id="description" name="description" placeholder="Asset Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="image">Image Url</label>
                    <input class="form-control" id="image" type="text" name="image" placeholder="Asset Image">
                </div>
                <div class="form-group">
                    <button class="form-control btn-dark" type="submit">Submit</button>
                </div>
            </form>
        </div>
    

</div>

<% include ../partials/footer %>